{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "legacyDecorators": true
        }
    },
    "extends": "airbnb",
    "rules": {
        "semi": [0],
        "react/jsx-filename-extension": 0,
        "indent": [0],
        "react/require-default-props": [0],
        "arrow-body-style": [0],
        "no-param-reassign": [0],
        "linebreak-style": "off",
        "no-console": "off",
        "import/no-unresolved": 0,
        "comma-dangle": ["error", "never"]
    }
} 